body{
    font-family: arial;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    color: #333;
}
.card{
    background-color: rgba(255, 255, 255, 0.95);
    padding: 35px 30px;
    width: 300px;
    border-radius: 18px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
    text-align: center;

}
h1{
    margin-bottom: 20px;
    color: rgb(195, 128, 240);
    
}
#reminder{
    font-size: 30px;
    margin-bottom: 25px;
    color: rgb(165, 42, 89);
}

button{
    margin-top: 15px;
    padding: 10px;
    border: none;
    background-color: rgb(195, 128, 240);
    border-radius: 20px;
    color: black;
    font-size: large;
    cursor: pointer;
}
